.view {
    max-width: 500px;
    margin: 8rem auto 3rem;
}
.pictureFormat {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
}
.linkStyle {
  padding-top: 15px;
  list-style: none;
  color: #42413d;
  align-items: center;
  text-align: center;
}